.footer-cta {
    @media screen and (max-width:1199px) {
            margin-bottom: 60px;
        }
    
    
    @media screen and (min-width:1200px) {
            margin-left: 70px;
        }
}

.footer-cta__title {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;

    color: var(--white-color);

    @media screen and (min-width:1200px) {
            display: inline-block;
        }
}





