.footer-logo {
    display: block;
    margin-bottom: 20px;

    color: var(--white-color);
    text-decoration: none;
    

    @media screen and (max-width:1199px) {
            text-align: center;
        }

}