.footer-cta {
    margin-left: 70px;
}

.footer-cta__title {
    display: inline-block;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;

    color: var(--white-color);
}

