.header-contacts {
    display: none;
    
    @media screen and (min-width:768px){
        display: flex;
        
    }

    @media screen and (max-width:1199px) {
            flex-direction: column;
    }

        // @media screen and (min-width:1200px) {
        //     &:first-child {
        //         margin-right: 30px;
        //     }
                
        // }
}

.header-contacts__item {
    @media screen and (max-width:1199px) {
    &:first-child {
            padding-bottom: 10px;
        }
    }

        @media screen and (min-width:1200px) {
            &:first-child {
                margin-right: 30px;
            }
        }

}

.header-contacts__link {
    color: var(--secondary-text-color);

    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width:768px) {
        display: flex;
        align-items: center;

        font-size: 12px;
        line-height: 1.16;
        }   

    @media screen and (min-width:1200px) {
        justify-content: center;
    
        padding-top: 32px;
        padding-bottom: 32px;
    
        font-size: 14px;
        line-height: 1.14;
        }
    
}

.header-contacts__link:hover,
.header-contacts__link:focus {
    color: var(--accent-color);
}

.header-contacts__icon {
    display: inline;
    margin-right: 10px;

    fill: currentColor;
}