.mobile-menu-social {
    display: flex; 

    margin-top: 64px;
}

.mobile-menu-social__item {
    &:nth-child(-n+3) {
        padding-right: 10px;
        border-right: 1px solid rgba(33, 33, 33, 0.2);
    }

    &:nth-last-child(-n+3) {
        padding-left: 10px;
    }
}

.mobile-menu-social__link {
    font-size: 18px;
    line-height: 1.22;

    color: var(--accent-color);
}