.subscrible {
    width: 100%;

    @media screen and (min-width:1200px) {
            margin-left: 93px;
    
        }
}

.subscrible__email {
    display: block;

    font-weight: 700;
    font-size: 14px;
    text-align: center;

    color: var(--white-color);

    
}

.subscrible__input {
    height: 50px;
    width: 100%;
    margin: 20px auto;

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    color: var(--white-transparent);
    background-color: var(--hero-footer-color);

    @media screen and (min-width:768px)and(max-width:1199px){
            max-width: 450px;
            margin-left: 151px;   
        }

    @media screen and (min-width:1200px) {
            display: flex;
            width: 358px;
            margin-right: 12px;
            padding-left: 16px;
    
        }
}

.subscrible__container {
    @media screen and (min-width:1200px) {
            display: flex;
    
        }
    
}

.subscrible__input::placeholder {
    color: var(--white-transparent);
}

.subscrible__button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscrible__icon {
    margin-left: 10px;
}