.subscrible {
  @media screen and (max-width: 767px) {
    width: 100%;
  }

  @media screen and (max-width: 1199px) {
    max-width: 100%;
    margin-top: 60px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;

    width: 570px;
    margin-left: 93px;
  }
}

.subscrible__email {
  display: block;

  font-weight: 700;
  font-size: 14px;
  text-align: center;

  color: var(--white-color);

  @media screen and (min-width: 768px) and(max-width:1199px) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 20px;
  }
}

.subscrible__input {
  width: 100%;
  height: 50px;
  padding-left: 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: var(--white-transparent);
  background-color: var(--hero-footer-color);

  @media screen and (max-width: 767px) {
    margin: 20px auto;
  }

  @media screen and (min-width: 768px) and(max-width:1199px) {
    width: 450px;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-right: 12px;
  }
}

.subscrible__container {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.subscrible__input::placeholder {
  color: var(--white-transparent);
}

.subscrible__button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscrible__icon {
  margin-left: 10px;
}
